@import url(https://fonts.googleapis.com/css?family=Nunito+Sans);
@import url(https://fonts.googleapis.com/css?family=Rubik);
.presentation {
    color: #666666;
    ;
    font-family: 'Rubik', sans-serif !important;
}

.presentation h1 {
    font-size: 60px;
    font-weight: bold;
    color: #222121bf;
}

.presentation p {
    font-size: 40px;
    color: #222121bf;
    font-weight: bold;
}

.presentation p span {
    color: #23b8ff;
}

#particles-js {
    /*background: linear-gradient(to right, #2B32B2, #1488CC);*/
    background: linear-gradient(to right, #79797b, #124196);
}

.pt-lg-20 {
    padding-top: 100px;
}

.pt-lg-10 {
    padding-top: 50px;
}

.ml-l-16 {
    margin-left: 210px;
}

#particles-js {
    position: absolute;
    width: 100%;
}

.container {
    position: relative;
}

.container-fluid .social-links {
    margin-top: 40px;
    display: flex;
}

.container-fluid .social-links a {
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(52 50 50 / 69%);
    color: #fff;
    line-height: 1;
    margin-right: 8px;
    border-radius: 50%;
    width: 40px;
    height: 40px;
}

.container-fluid .social-links a:hover {
    background: #3e88e7;
}