@import url(https://fonts.googleapis.com/css?family=Nunito+Sans);
@import url(https://fonts.googleapis.com/css?family=Rubik);
.presentation {
    color: #666666;
    ;
    font-family: 'Rubik', sans-serif !important;
}

.presentation h1 {
    font-size: 60px;
    font-weight: bold;
    color: #222121bf;
}

.presentation p {
    font-size: 40px;
    color: #222121bf;
    font-weight: bold;
}

.presentation p span {
    color: #23b8ff;
}

.about {
    text-align: justify;
}

.about h3 {
    font-size: 30px;
    font-weight: bold;
    color: #222121bf;
}

.about p {
    font-size: 20px;
}

.about ul {
    padding-left: 2px !important;
}

.about ul li {
    list-style: none;
    padding-bottom: 5px;
}

#particles-js {
    /*background: linear-gradient(to right, #2B32B2, #1488CC);*/
    background: linear-gradient(to right, #79797b, #124196);
}

.pt-lg-20 {
    padding-top: 100px;
}

.pt-lg-30 {
    padding-top: 200px;
}

.pt-lg-10 {
    padding-top: 50px;
}

.ml-l-16 {
    margin-left: 210px;
}

.canvas {
    position: relative;
}

.container-fluid .social-links {
    margin-top: 40px;
    display: flex;
}

.container-fluid .social-links a {
    font-size: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(52 50 50 / 69%);
    color: #fff;
    line-height: 1;
    margin-right: 8px;
    border-radius: 50%;
    width: 50px;
    height: 50px;
}

.container-fluid .social-links a:hover {
    background: #3e88e7;
}

@media (max-width: 765px) {
    .presentation h1 {
        font-size: 35px;
    }
    .presentation p {
        font-size: 20px;
    }
    .pt-lg-20 {
        padding-top: 5px;
    }
    .informationme i {
        font-size: 50px;
        padding: 80px !important;
    }
    .backgroundimg {
        width: 100% !important;
    }
    .container_image {
        margin: 100px 100px 0px 100px !important;
    }
}

@media screen and (min-width: 320px) and (max-width:480px) {
    .informationme i {
        padding: 40px !important;
    }
}

@keyframes animateWave {
    0% {
        transform: scale(1, 0);
    }
}

.wave-container>svg {
    transform-origin: bottom;
    animation: animateWave 2000ms cubic-bezier(0.56, 1, 0.48, 1) forwards;
}

.picture {
    border-radius: 100%;
    width: 80%;
    margin: 25px 10% 25px;
}

.backgroundimg {
    background: rgb(23 23 23 / 5%);
    border-radius: 200%;
    width: 80%;
}

.container_image {
    margin: 30px 10px 10px;
}

a:hover {
    color: rgb(52 50 50 / 69%)!important;
    text-decoration: none !important;
}

.informationme {
    font-size: 20px;
    color: #222121bf;
}

.informationme p {
    font-size: 15px;
    color: #222121bf;
}

.informationme i {
    font-size: 50px;
    padding: 10px
}

.informationme .list-data {
    padding-left: 10px
}

.title_info {
    font-weight: bold;
    font-size: 20px;
    text-align: center;
}

.title_info_one {
    font-weight: bold;
    font-size: 25px !important;
    text-align: left;
}

footer {
    bottom: 0;
    position: absolute;
    width: 100%;
}